
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: local_frontend
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000